.mainstudio {
    height: 100vh;
    background-size: 100%;
    background: url("../../media/team_rocket_lab2.png");
    background-color: #8BEE88;
    text-align: center;
    color: antiquewhite;
}

.creationTitle {
    color: #FFDE00;
    font-size: 50px;
    font-family: 'poke';
    font-weight: bold;
    -webkit-text-stroke: 2px #3B4CCA;
}

input {
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgba(255, 255, 255, 0.623);
    color: rgba(0, 0, 0, 0.993);
    margin-left: 5px;
}

input:focus {
    border-bottom: 2px solid white;
    color: rgba(0, 0, 0, 0.993);
}

input:hover {
    border-bottom: 2px solid white;
    color: rgba(0, 0, 0, 0.993);
}

input::placeholder {
    color: rgb(124, 122, 122);
    font-style: italic;
}

.dangerContainer {
    color: red;
    position: absolute;
    top: 65%;
    left: 15%;
    font-size: 12px;
}

.dangerline {
    border-bottom: 2px solid red;
}

.createbtn {
    position: absolute;
    bottom: 40px;
    right: 210px;
}

.success {
    height: 100vh;
    background-size: 100%;
    background: url("../../media/team_rocket_lab2.png");
    background-color: #8BEE88;
    text-align: center;
    color: antiquewhite;
}

.gif {
    position: absolute;
    text-align: center;

}