.pagination {
    position: relative;
    text-align: center;
    background-color: #cac8c8;
    color: rgb(0, 0, 0);
    border: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: center;
    margin: 0 4px;
    text-align: justify;
    cursor: pointer;
}

.pagination:hover {
    background-color: rgb(138, 138, 138)
}