.wrapper {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../media/poke-fondo.png");
    position: absolute;
    background-color: #8BEE88;
    width: 100%;
    height: 100%;
    text-align: center;
}