body{
    background-image: url("../../media/poke-fondo.png")
}

p, h1, h2, h3, h4, h5, h6, span, div{
    color: white;
    text-shadow: 1px 1px 2px black;
}

.wrapper{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../media/poke-fondo.png");
    position: absolute;
    background-color: #8BEE88;
    width: 100%;
    height: 100%;
    color: white;
}

.welcomeDiv{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 800px;
    height: 180px;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 5px 10px #00000081;
    background-color: rgba(81, 155, 253, 0.219);
}

.welcome_text {
    padding-left: 45px;
    padding-top: 20px;
    width: 380px;
    text-align: center;
    word-wrap: break-word;
    font-style: italic;
    font-size: 30px;
    
}

.welcomeButton{
    cursor: pointer;
    margin-top: 280px;
    box-shadow: 3px 5px rgba(81, 155, 253, 0.219);;
    text-shadow: 1px 1px 2px rgb(158, 158, 158);
    font-size: 16px;
}